@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot?rxw7dn');
    src:url('../fonts/icomoon/icomoon.eot?#iefixrxw7dn') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.woff?rxw7dn') format('woff'),
        url('../fonts/icomoon/icomoon.ttf?rxw7dn') format('truetype'),
        url('../fonts/icomoon/icomoon.svg?rxw7dn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon-portafolio';
    src:url('../fonts/icomoon-portafolio/icomoon.eot?jbqx5c');
    src:url('../fonts/icomoon-portafolio/icomoon.eot?#iefixjbqx5c') format('embedded-opentype'),
        url('../fonts/icomoon-portafolio/icomoon.woff?jbqx5c') format('woff'),
        url('../fonts/icomoon-portafolio/icomoon.ttf?jbqx5c') format('truetype'),
        url('../fonts/icomoon-portafolio/icomoon.svg?jbqx5c#icomoon-portafolio') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bitterregular';
    src: url('../fonts/Bitter-Regular/Bitter-Regular.eot');
    src: url('../fonts/Bitter-Regular/Bitter-Regular.eot') format('embedded-opentype'),
         url('../fonts/Bitter-Regular/Bitter-Regular.woff') format('woff'),
         url('../fonts/Bitter-Regular/Bitter-Regular.ttf') format('truetype'),
         url('../fonts/Bitter-Regular/Bitter-Regular.svg#bitterregular') format('svg');
}

@font-face {
    font-family: 'bitteritalic';
    src: url('../fonts/bitter-italic/bitter-italic-webfont.eot');
    src: url('../fonts/bitter-italic/bitter-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitter-italic/bitter-italic-webfont.woff') format('woff'),
         url('../fonts/bitter-italic/bitter-italic-webfont.ttf') format('truetype'),
         url('../fonts/bitter-italic/bitter-italic-webfont.svg#bitteritalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium_webregular';
    src: url('../fonts/titilliumweb-regular/titilliumweb-regular-webfont.eot');
    src: url('../fonts/titilliumweb-regular/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-regular/titilliumweb-regular-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-regular/titilliumweb-regular-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-regular/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'titillium_websemibold';
    src: url('../fonts/titilliumweb-semibold/titilliumweb-semibold-webfont.eot');
    src: url('../fonts/titilliumweb-semibold/titilliumweb-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumweb-semibold/titilliumweb-semibold-webfont.woff') format('woff'),
         url('../fonts/titilliumweb-semibold/titilliumweb-semibold-webfont.ttf') format('truetype'),
         url('../fonts/titilliumweb-semibold/titilliumweb-semibold-webfont.svg#titillium_websemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'devicons';
  src: url("../fonts/devicons/devicons.eot?xqxft6");
  src: url("../fonts/devicons/devicons.eot?#iefixxqxft6") format("embedded-opentype"), url("../fonts/devicons/devicons.woff?xqxft6") format("woff"), url("../fonts/devicons/devicons.ttf?xqxft6") format("truetype"), url("../fonts/devicons/devicons.svg?xqxft6#devicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
