@import './vendor/index'
@import './base/index'
@import './layout/index'

// Módulos comunes
@import './modules/index'

// Módulos para el home
@import "./modules/_slide-home"

// Página
@import './page/home'
