body
	background #323232
#main
	//padding 0 15px
	padding 0
	#btn-descargar-cv
		background #696969 url(../img/ico-download-cv.png) 130px 8px no-repeat
		font 17px titillium_websemibold
		height 35px
		padding-left 10px
		line-height 35px
		text-transform uppercase
		text-shadow none
		width 160px
		margin 50px auto 0 auto
		a
			color #CFCFCF
			display block
			width 100%
			text-decoration none
			&:hover
				color #fff
				text-shadow 1px 1px 1px #666
		&:hover
			background #D87C72 url(../img/ico-download-cv.png) 130px -27px no-repeat
	.main-inner
		width auto
		.section
			padding 50px 15px 50px 15px
			@media mw610
				padding-left 10px
				padding-right 10px
				padding-top 25px
			.perfil-inner
				max-width 1000px
				min-height 370px
				margin 0 auto
				text-shadow 2px 2px 2px #000000
				position relative
				h2
					color #D87C72
					font 24px bitterregular
					text-shadow 2px 2px 2px #000000
					margin 0 0 30px 0
				div.lista-habilidades
					div.grp-habilidad
						overflow hidden
						margin-bottom 15px
						i.devicons
							font-size 27px
							float left
							width 40px
							text-align left
						div.nombre
							color #DDDDDD
							float left
							font 18px bitterregular
							line-height 25px
							width 30%
							margin-right 3%
						div.progress
							background #252525
							border-radius 4px
							border-bottom 1px solid #414141
							float left
							width 67%
							padding 0
							div.progress-bar
								height 16px
								border-radius 4px
								background url("../img/stripes.png") 0 0 repeat
								animation progress 1.5s linear infinite
								background-color #5BC0DE
				div.lista-experiencia
					div.grp-experiencia
						overflow hidden
						margin-bottom 25px
						span
							color #DDDDDD
							display block
							font 18px bitterregular
							margin-bottom 3px
						a
							color #3EA4FF
							text-decoration none
							font 18px bitteritalic
							font-style italic
						div.fecha
							float left
							width 30%
							margin-right 3%
						div.lugar
							float left
							width 67%
				div.lista-educacion
					div.grp-educacion
						overflow hidden
						margin-bottom 25px
						span
							color #DDDDDD
							display block
							font 18px bitterregular
							margin-bottom 3px
						a
							color #3EA4FF
							text-decoration none
							font 18px bitteritalic
							font-style italic
						div.fecha
							float left
							width 30%
							margin-right 3%
						div.lugar
							float left
							width 67%
		#habilidades
			background #323232
			.perfil-inner
				background transparent url(../img/bg-seccion-habilidades.png) 40px center no-repeat
		#experiencia
			background #2C2C2C
			.perfil-inner
				background transparent url(../img/bg-seccion-experiencia.png) 70px center no-repeat
		#educacion
			background #323232
			.perfil-inner
				background transparent url(../img/bg-seccion-educacion.png) 90px center no-repeat
#footer
	margin-top 0

@-webkit-keyframes progress
	to{
		background-position: 30px 0;
	}

@-moz-keyframes progress
	to{
		background-position: 30px 0;
	}

@keyframes progress
	to{
		background-position: 30px 0;
	}

@media only screen and (max-width: 680px)
	#main
		div.lista-habilidades
			.logo-habilidad
				margin-right 3px !important
			div.grp-habilidad
				div.nombre
					width 40% !important
				div.progress
					width 57% !important

@media only screen and (max-width: 520px)
	#main
		div.lista-habilidades
			div.grp-habilidad
				div.nombre
					font-size 16px !important
		div.lista-experiencia
			div.fecha
				span
					font-size 16px !important
			div.lugar
				span
					font-size 16px !important
					a
						font-size 16px !important
		div.lista-educacion
			div.fecha
				span
					font-size 16px !important
			div.lugar
				span
					font-size 16px !important
					a
						font-size 16px !important

@media only screen and (max-width: 490px)
	#main
		div.lista-habilidades
			div.grp-habilidad
				div.nombre
					width 50% !important
				div.progress
					width 47% !important

@media only screen and (max-width: 400px)
	#main
		div.lista-habilidades
			div.grp-habilidad
				div.nombre
					width 60% !important
				div.progress
					width 37% !important

@media only screen and (max-width: 330px)
	#main
		div.lista-habilidades
			div.grp-habilidad
				div.nombre
					width 65% !important
				div.progress
					width 32% !important
