.Publicidad
  &-inner
    text-align center
    margin 0 auto
    max-width 1000px
    padding 20px 10px 0 10px
  .item
    display inline-block
    &--300_250
      display none
    @media mw790
      display inline-block

    &--728_90
      @media mw790
        display none
    &--automatico
      width 728px
      height 90px
      @media mw790
        height 250px
        width 300px
