.Footer
	background transparent url(../img/bg-footer.jpg) 0 0 repeat
	border-top 3px solid #535353
	font-family ff_main
	.footer-inner
		margin 0 auto
		overflow hidden
		max-width 1000px
		padding 0 15px
		@media mw610
			padding 0 10px
		h2
			color #fff
			font-size 17px
			font-weight fw_medium
			margin 30px 0 15px 0
		.acerca-demi
			float left
			min-height 265px
			margin-right 30px
			width 435px
			@media mw790
				min-height 0
				padding-bottom 20px
				width 100%
			p
				color #DDDDDD
				font-size 13px
				line-height 1.4
				text-align justify

		// ENLACES DE REDES SOCIALES
		.enlaces
			float left
			min-height 265px
			margin-right 25px
			width 250px
			@media mw790
				min-height 0
				padding-bottom 20px
			ul
				list-style none
				padding 0
				margin 0
				li
					color #DDDDDD
					font-size 13px
					line-height 1.4
					height 23px
					line-height 23px
					margin-bottom 5px
					span.icon
						margin-right 5px
					a
						color #3EA4FF
						font-weight fw_medium
						text-decoration none
						&:hover
							color #FD9E00

		// WIDGET DE TWITTER
		.tweets
			float left
			min-height 120px
			padding-bottom 20px
			width 260px
			position relative
			.twitter-animation-css
				animation playbird .45s steps(4) infinite
				background transparent url(../img/twitter-flying.png) left center
				height 38px
				width 55px
				float left
				margin-top 5px
			@keyframes playbird
				100%
					background-position -220px
			.twitter-box
				float right
				width 200px

	// TEXTOS ULTIMOS DEL FOOTER
	.copyright
		background #373737
		padding 0 15px
		.copyright-inner
			margin 0 auto
			max-width 1000px
			min-height 45px
			overflow hidden
			p
				color #A5A4A4
				font-size 12px
				margin 0
				height 45px
				line-height 45px
				padding 0
				&.detalle
					float left
					margin-right 30px
				&.celular
					float right
					@media mw610
						float left
						margin-right 30px
					.icon
						display block
						float left
						padding-top 13px
						margin-right 3px
						font-size 19px
				&.email
					float right
					margin-right 30px
					@media mw610
						float left
					.icon
						display block
						float left
						padding-top 13px
						margin-right 3px
						font-size 20px
					a
						text-decoration none
