.Header
	background #fff
	border-bottom 5px solid #3EA4FF
	min-height 50px
	padding 0 15px
	box-sizing border-box
	position fixed
	z-index 999
	top 0
	left 0
	width 100%
	@media mw790
		padding 0
		height 55px
	.header-inner
		margin 0 auto
		max-width 1000px
		#logo
			float left
			width 25%
			box-sizing border-box
			height 50px
			padding 5px 0 5px 60px
			line-height 50px
			vertical-align middle
			@media minw790
				height 60px
				line-height 60px
				padding 5px 0
			a
				display block
				height 100%
			img
				width auto
				height 100%
				max-width 208px
				display inline-block
				@media mw790
					max-height 50px
					width auto
		#btn-menu
			background #3EA4FF
			cursor pointer
			display none
			height 50px
			text-align center
			width 50px
			position absolute
			top 0
			left 0
			i
				color #3b5063
				font-size 30px
				line-height 50px
			@media mw790
				display block
		#nav
			background #fff
			float right
			height 60px
			position relative
			width 75%
			@media mw790
				top 5px
				display none
				height 160px
				margin 0
				overflow hidden
				width 100%
				float none
			.arrow
				top 43px
				position absolute
				left 0
				width 14px
				color #3EA4FF
				font-size 25px
				@media mw790
					display none
			ul
				list-style none
				height 100%
				padding 0
				margin 0
				overflow hidden
				li
					display table
					float left
					height 100%
					width 25%
					@media mw790
						float none
						height 40px
						width 100%
						border-bottom 1px solid #E8EFF7
						&:last-child
							border-bottom 0
					&.active
						background #BFEFFF
						a
							color #0085B2
							&:hover
								background #BFEFFF
					a
						color #595959
						display table-cell
						font-family 'Oswald'
						font-size 19px
						height 100%
						text-align center
						text-decoration none
						text-transform uppercase
						vertical-align middle
						width 100%
						&:hover
							color #0085B2
							background #D7F5FF
						@media mw905
							font-size 16px
