#header
	background transparent url(../img/bg-header.jpg) 0 0 repeat
	border-bottom 5px solid #3EA4FF
	min-height 85px
	padding 0 15px
	overflow hidden
	@media mw790
		padding 0
		border-bottom 0
	.header-inner
		margin 0 auto
		max-width 1000px
		#logo
			float left
			width 208px
			width 25%
			box-sizing border-box
			padding-right 20px
			height 85px
			line-height 85px
			vertical-align middle
			@media mw790
				height 60px
				line-height 60px
				text-align center
				margin 0 auto
				width 100%
				float none
			img
				width 100%
				max-width 208px
				display inline-block
				vertical-align middle
				@media mw790
					max-height 50px
					width auto
		#btn-menu
			background #3ea4ff
			cursor pointer
			display none
			margin-top 5px
			height 40px
			text-align center
			&:before
				content: "\e600";
				color #06447B
				font 28px icomoon
				line-height 40px
			@media mw790
				display block
		#nav
			float right
			height 85px
			position relative
			width 75%
			@media mw790
				display none
				height 145px
				margin 0
				overflow hidden
				width 100%
				float none
			.arrow
				top 69px
				position absolute
				left 0
				width 25px
				color #3EA4FF
				font-size 25px
				@media mw790
					display none
			ul
				list-style none
				height 100%
				padding 0
				margin 0
				overflow hidden
				li
					display table
					float left
					height 100%
					width 25%
					@media mw790
						float none
						height 35px
						width 100%
						border-bottom 1px solid #E8EFF7
						&:last-child
							border-bottom 0
					&.active
						background #BFEFFF
						a
							color #0085B2
							&:hover
								background #BFEFFF
					a
						color #595959
						display table-cell
						font 19px bitterregular
						height 100%
						text-align center
						text-decoration none
						text-transform uppercase
						vertical-align middle
						width 100%
						&:hover
							color #0085B2
							background #D7F5FF
						@media mw905
							font-size 17px
