extends ./../base.jade

block _variables_head_
	- var page_title = "Juan Cahuana - Desarrollador FrontEnd - Lima, Perú";
	- var page_description = "Desarrollador FrontEnd en Lima, Perú. Desarrollo de proyectos enfocados en dar el mejor rendimiento de toda aplicación en el lado del cliente.";
	
block _variables_menu_
	- var btn_home = "active";
	- var btn_perfil = "";
	- var btn_portafolio = "";
	- var btn_contacto = "";
	
block _cssfiles_
	link( rel="stylesheet", href="css/home.min.css")

block _contenido_
	div.SlideHome
		ul.slide-list
			li
				a(href="portafolio.html#kia-peru-web")
					img( src="photos/home/web-kia.jpg" )
			li
				a(href="portafolio.html#cartavio-mobile-app-recetario")
					img( src="photos/home/cartavio-recetario.jpg" )
			li
				a(href="portafolio.html#fiat-facebook-app-punto")
					img( src="photos/home/fiat-punto.jpg" )
	section.LogosClientes
		.sprite-explosion
		h1 Trabajos para empresas como:
		div.lista-clientes

block _plantillas_
	script( id="cliente-template", type="text/x-handlebars-template" )
		div.wrapper-img
			img( src="{{imagen}}", alt="{{textoAlt}}", title="{{textoAlt}}")
block _jsfiles_
	script( src="js/home.min.js")
