extends ./../base.jade

block _variables_head_
	- var page_title = "Conocimientos, formación y experiencia laboral - Desarrollador FrontEnd - Lima, Perú";
	- var page_description = "Maquetación y programación de páginas web utilizando herramientas como Gulp, Jade, Sass, Stylus, otros. En formación constante y desarrollando proyectos para empresas reconocidas en el medio.";
block _variables_menu_
	- var btn_home = "";
	- var btn_perfil = "active";
	- var btn_portafolio = "";
	- var btn_contacto = "";
	
block _cssfiles_
	link( rel="stylesheet", href="css/perfil.min.css")

block _contenido_
	include ../modules/habilidades.jade
	include ../modules/experiencia.jade
	include ../modules/educacion.jade

block _jsfiles_
	script( src="js/perfil.min.js")
