extends ./../base.jade

block _variables_head_
	- var page_title = "Portafolio de trabajos - Desarrollador FrontEnd - Lima, Perú";
	- var page_description = "Portafolio de trabajos. Proyectos para marcas como Vizzio, Guaraná, Kia Perú, otros.";
	
block _variables_menu_
	- var btn_home = "";
	- var btn_perfil = "";
	- var btn_portafolio = "active";
	- var btn_contacto = "";
	
block _cssfiles_
	link( rel="stylesheet", href="css/portafolio.min.css")

block _fbscript_
	include ../includes/_facebook-script.jade
	
block _contenido_
	section#portafolio
		div.loader
			img(src="img/loader.gif", alt="")
	div#btn-portafolio-behance
		a( href="http://www.behance.net/jcahuana", target="_blank" ) Ver en Behance
		
block _plantillas_

	//- Proyecto que se encuentra en progreso
	script( id="portada-progress-template", type="x-tmpl-mustache" )
		div.imagen
			div.viewport
				img( src="{{imagen_portada}}" )
		div.nombre
			h2 {{nombre}}
			div.progress

	//- Presentación de proyecto (mustache)
	script( id="portada-template-mst", type="x-tmpl-mustache" )
		- var url_proyecto = "#{{url}}";
		div.imagen
			div.viewport
				a( href="portafolio.html#{url_proyecto}" )
					div.icon-portafolio-link-work
						i.fa.fa-link
					img( src="{{imagen_portada}}" )
		div.nombre
			h2 {{nombre}}
			span.categoria {{categoria}}

	//- Detalle de proyecto
	//- script( id="trabajo-template", type="text/x-handlebars-template" )
	script( id="trabajo-template", type="x-tmpl-mustache" )
		div.wrapper-slide
			div.slide
				ul.slide-list
					| {{#imagenes_slide}}
					li: img( src="{{url}}" )
					| {{/imagenes_slide}}
		div.descripcion
			h1 {{titulo}}
			h2 
				i.fa.fa-tag
				{{categoria}}
			div.share-button
				div(class="fb-share-button", data-href="http://juancahuana.com/portafolio.html#{{{url}}}", data-layout="button_count", data-mobile-iframe="true")
			div.texto {{{texto}}}
			p.tag Compatibilidad:
			p {{compatibilidad}}
			p.tag Tecnologías:
			p {{tecnologias}}
			| {{#url_online}}
			p.tag URL Proyecto: <a href="{{url_online}}" target="_blank">{{url_online}}</a>
			| {{/url_online}}
			| {{#url_repo}}
			p.tag Repositorio: <a href="{{url_repo}}" target="_blank">visitar</a>
			| {{/url_repo}}
			
block _jsfiles_
	script( src="js/portafolio.min.js")
