extends ./../base.jade

block _variables_head_
	- var page_title = "Portafolio de trabajos - Desarrollador FrontEnd - Lima, Perú";
	- var page_description = "Lista de trabajos que he desarrollado. Proyectos para marcas como Vizzio, Guaraná, Kia Perú, otros.";
	
block _variables_menu_
	- var btn_home = "";
	- var btn_perfil = "";
	- var btn_portafolio = "active";
	- var btn_contacto = "";
	
block _cssfiles_
	link( rel="stylesheet", href="css/portafolio.min.css")

block _contenido_
	section#portafolio
	div#btn-portafolio-behance
		a( href="http://www.behance.net/jcahuana", target="_blank" ) Ver en Behance
		
block _plantillas_
	script( id="portada-template", type="text/x-handlebars-template" )
		- var url_proyecto = "#{{nombre}}";
		div.imagen
			div.viewport
				a( href="portafolio.html#{url_proyecto}" )
					div.icon-portafolio-link-work
					img( src="{{imagen_portada}}" )
		div.nombre
			h2 {{nombre}}

	script( id="portada-progress-template", type="text/x-handlebars-template" )
		div.imagen
			div.viewport
				img( src="{{imagen_portada}}" )
		div.nombre
			h2 {{nombre}}
			div.progress

	script( id="trabajo-template", type="text/x-handlebars-template" )
		div.wrapper-slide
			div.slide
				ul.rslides
					| {{#each imagenes_slide}}
					li: img( src="{{url}}" )
					| {{/each}}
		div.descripcion
			h1 {{titulo}}
			h2 {{categoria}}
			div.texto {{{texto}}}
			p.compatibilidad Compatibilidad:
			p {{compatibilidad}}
			p.tecnologia Tecnologías:
			p {{tecnologias}}
block _jsfiles_
	script( src="js/portafolio.min.js")
