@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot?rxw7dn');
    src:url('../fonts/icomoon/icomoon.eot?#iefixrxw7dn') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.woff?rxw7dn') format('woff'),
        url('../fonts/icomoon/icomoon.ttf?rxw7dn') format('truetype'),
        url('../fonts/icomoon/icomoon.svg?rxw7dn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bitterregular';
    src: url('../fonts/bitter/bitter-regular-webfont.eot');
    src: url('../fonts/bitter/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitter/bitter-regular-webfont.woff') format('woff'),
         url('../fonts/bitter/bitter-regular-webfont.ttf') format('truetype'),
         url('../fonts/bitter/bitter-regular-webfont.svg#bitterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cantarellbold';
    src: url('../fonts/CantarellBold/cantarell-bold-webfont.eot');
    src: url('../fonts/CantarellBold/cantarell-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CantarellBold/cantarell-bold-webfont.woff') format('woff'),
         url('../fonts/CantarellBold/cantarell-bold-webfont.ttf') format('truetype'),
         url('../fonts/CantarellBold/cantarell-bold-webfont.svg#cantarellbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadPro-Regular/myriadpro-regular.eot');
    src: url('../fonts/MyriadPro-Regular/myriadpro-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Regular/myriadpro-regular.woff') format('woff'),
         url('../fonts/MyriadPro-Regular/myriadpro-regular.ttf') format('truetype'),
         url('../fonts/MyriadPro-Regular/myriadpro-regular.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}