body, html
	height 100%
	margin 0
	padding 0
img
	display block
	border none

*
	outline none

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-f-arriba:before {
	color #3EA4FF
	content: "\e600";
	font-size 25px
}

body 
	background #323232
	#header
		background transparent url(../img/bg-header.jpg) 0 0 repeat-x
		border-bottom 5px solid #3EA4FF
		height 85px
		.header-inner
			margin 0 auto
			width 1000px
			#logo
				padding-top 12px
				float left
			#nav
				float right
				height 85px
				position relative
				.arrow
					top 69px
					position absolute
					left 0
					width 25px
				ul
					list-style none
					height 100%
					padding 0
					margin 0
					overflow hidden
					li
						display table
						float left
						height 100%
						width 160px
						&.active
							background #BFEFFF
							a
								color #0085B2
						a
							color #595959
							display table-cell
							vertical-align middle
							font 20px bitterregular
							height 100%
							text-decoration none
							width 100%
							text-align center
							&:hover
								color #0085B2
								background #BFEFFF
	#footer
		background transparent url(../img/bg-footer.jpg) 0 0 repeat-x
		height 300px
		margin-top 50px

