// Google Optimize
script.
  (function(p,a,l,i,n,d,r,o,m,e){r={id:'GTM-P9TNZHV',l:'dataLayer',m:'sync'};
  if(!r.gac){o=/;((__utma=)|([^;=]+=GAX?\\d+\.))[^;]*/g;m=l.cookie.replace(
  /^|(; +)/g,';').match(o);if(m)r.gac=m.sort().join('').substring(1)};e=
  'https://www.google-analytics.com/gtm/js?';r.m=='sync'||(p['event']='gtm.js');
  for(d in r)if(r.hasOwnProperty(d))e+=n(d)+'='+n(r[d])+'&';a[r.l]=a[r.l]||[];
  a[r.l].push(p);if(r.m=='sync'){l.write('<'+i+' src="'+e+'"><\\/'+i+'>');}else{
  j=l.createElement(i);j.async=!0;j.src=e;f=l.getElementsByTagName(i)[0];
  f.parentNode.insertBefore(j,f);}})({'gtm.start':1*new
  Date()},window,document,'script',encodeURIComponent);
noscript
  iframe(src='https://www.google-analytics.com/gtm/ns?id=GTM-P9TNZHV', style='display:none;visibility:hidden', height='0', width='0')
