!!! 5
html( lang="es-PE" )
	head
		meta( name="viewport", content="initial-scale=1, maximum-scale=1, width=device-width" )
		title Juan Cahuana - Web Developer
		meta( charset="utf-8")
		link( rel="stylesheet", href="css/home.min.css")
	body
		header#header
			.header-inner
				div#logo
					img( src="img/logo.png" )
				nav#nav
					div.arrow.icon-f-arriba
					ul
						li.active: a( href="#") Home
						li: a( href="#") Curriculum
						li: a( href="#") Portafolio
						li: a( href="#") Contacto
		div#main
			.main-inner
				div#slide
					img( src="photos/home/slide-1.jpg" )
				section#clientes
					h1 Proyectos para empresas como :
					.cliente
						img( src="photos/home/logo-kia.png", alt="Kia" )
					.cliente
						img( src="photos/home/logo-vizzio.png", alt="Vizzio" )
					.cliente
						img( src="photos/home/logo-fiat.png", alt="Fiat" )
					.cliente
						img( src="photos/home/logo-miamont.png", alt="Mia Mont" )
					.cliente
						img( src="photos/home/logo-guarana.png", alt="Guaraná" )
					.cliente
						img( src="photos/home/logo-wong.png", alt="Wong" )
		footer#footer
			.acerca-demi
			.enlaces
			.tweets
			.copyright
	script( src="js/main.min.js")
