section#educacion.section
  .perfil-inner
    h2 Educación
    div.lista-educacion
      div.grp-educacion
        div.fecha
          span 2015
        div.lugar
          span.nombre Wordpress theme Development
          span: a.url( href="https://teamtreehouse.com", target="_blank" ) www.teamtreehouse.com
          span.descripcion Teamtreehouse Platform.
      div.grp-educacion
        div.fecha
          span 2014
        div.lugar
          span.nombre Curso AngularJS
          span: a.url( href="http://area51.pe/", target="_blank" ) www.area51.pe
          span: a.url( href="https://www.facebook.com/Area51.pe", target="_blank" ) www.facebook.com/Area51.pe
          span.descripcion Area51 Training Center.
      div.grp-educacion
        div.fecha
          span 2013
        div.lugar
          span.nombre Curso Profesional FrontEnd
          span: a.url( href="http://www.platzi.com", target="_blank" ) www.platzi.com
          span.descripcion Plataforma Platzi.
      div.grp-educacion
        div.fecha
          span 2012
        div.lugar
          span.nombre Facebook Aplicaction Developer
          span: a.url( href="http://www.cibertec.edu.pe", target="_blank" ) www.cibertec.edu.pe
          span.descripcion Cibertec.
      div.grp-educacion
        div.fecha
          span 2009 - 2011
        div.lugar
          span.nombre Redes y Comunicaciones de Datos
          span: a.url( href="http://www.tecsup.edu.pe", target="_blank" ) www.tecsup.edu.pe
          span.descripcion Tecsup.
      div.grp-educacion
        div.fecha
          span 2009
        div.lugar
          span.nombre Flash CS4 / As3
          span.descripcion Zona-D
    div#btn-descargar-cv
      a( href="pdf/cv_cahuana_juan.pdf", target="_blank" ) Descargar CV
