section#experiencia.section
  .perfil-inner
    h2 Experiencia
    div.lista-experiencia
      div.grp-experiencia
        div.fecha
          span 2016
        div.lugar
          span.nombre Attachmedia
          span: a.url( href="http://attachmedia.com", target="_blank" ) www.attachmedia.com
          span.descripcion Consultora de marketing digital.
    div.lista-experiencia
      div.grp-experiencia
        div.fecha
          span 2015
        div.lugar
          span.nombre Grupo La República - Digital
          span: a.url( href="http://larepublica.pe", target="_blank" ) www.larepublica.pe
          span.descripcion Empresa periodística.
    div.lista-experiencia
      div.grp-experiencia
        div.fecha
          span 2014
        div.lugar
          span.nombre Vértice
          span: a.url( href="http://www.vertice.pe", target="_blank" ) www.vertice.pe
          span.descripcion Agencia Interactiva.
    div.lista-experiencia
      div.grp-experiencia
        div.fecha
          span 2014
        div.lugar
          span.nombre Proyectos Freelance
          span: a.url( href="http://www.domingosferreira.net/", target="_blank" ) www.domingosferreira.net
          span: a.url( href="https://www.facebook.com/dfcontact", target="_blank" ) www.facebook.com/dfcontact
          span.descripcion Agencia de Publicidad.
    div.lista-experiencia
      div.grp-experiencia
        div.fecha
          span 2012-2014
        div.lugar
          span.nombre Grupo DPI
          span: a.url( href="http://www.grupodpi.pe", target="_blank" ) www.grupodpi.pe
          span.descripcion Agencia Interactiva.
      div.grp-experiencia
        div.fecha
          span 2011-2012
        div.lugar
          span.nombre Vértice
          span: a.url( href="http://www.vertice.pe", target="_blank" ) www.vertice.pe
          span.descripcion Agencia Interactiva.
      div.grp-experiencia
        div.fecha
          span 2010
        div.lugar
          span.nombre Megaworking S.A
          span: a.url( href="http://www.megaworking.com", target="_blank" ) www.megaworking.com
          span.descripcion Agencia Interactiva.
      div.grp-experiencia
        div.fecha
          span 2009
        div.lugar
          span.nombre Universidad de Lima
          span: a.url( href="http://www.ulima.edu.pe", target="_blank" ) www.ulima.edu.pe
          span.descripcion Institución académica.
