section#habilidades.section
  .perfil-inner
    h2 Habilidades
    div.lista-habilidades
      div.grp-habilidad
        div.nombre
          i.devicons.devicons-html5
          | Html5
        div.progress: div.progress-bar( style="width: 90%" )
      div.grp-habilidad
        div.nombre
          i.devicons.devicons-code
          | Jade
        div.progress: div.progress-bar( style="width: 60%" )
      div.grp-habilidad
        div.nombre
          i.devicons.devicons-css3
          | Css3
        div.progress: div.progress-bar( style="width: 90%" )
      div.grp-habilidad
        div.nombre
          i.devicons.devicons-sass
          | Sass
        div.progress: div.progress-bar( style="width: 75%" )
      div.grp-habilidad
        div.nombre
          i.devicons.devicons-stylus
          | Stylus
        div.progress: div.progress-bar( style="width: 45%" )
      div.grp-habilidad
        div.nombre
          i.devicons.devicons-javascript
          | Javascript
        div.progress: div.progress-bar( style="width: 80%" )
      div.grp-habilidad
        div.nombre
          i.devicons.devicons-backbone
          | BackboneJS
        div.progress: div.progress-bar( style="width: 25%" )
      //- div.grp-habilidad
        div.nombre
          i.devicons.devicons-angular
          | AngularJS
        div.progress: div.progress-bar( style="width: 20%" )
      div.grp-habilidad
        div.nombre
          i.devicons.devicons-aptana
          | FB SDK (php/js)
        div.progress: div.progress-bar( style="width: 60%" )
      div.grp-habilidad
        div.nombre
          i.devicons.devicons-php
          | Php
        div.progress: div.progress-bar( style="width: 60%" )
      div.grp-habilidad
        div.nombre
          i.devicons.devicons-wordpress
          | Wordpress
        div.progress: div.progress-bar( style="width: 50%" )
      div.grp-habilidad
        div.nombre
          i.devicons.devicons-phonegap
          | Phonegap
        div.progress: div.progress-bar( style="width: 60%" )
      div.grp-habilidad
        div.nombre
          i.devicons.devicons-code_badge
          | As3
        div.progress: div.progress-bar( style="width: 20%" )
      div.grp-habilidad
        div.nombre
          i.devicons.devicons-gulp
          | GulpJS
        div.progress: div.progress-bar( style="width: 70%" )
      div.grp-habilidad
        div.nombre
          i.devicons.devicons-atom
          | Atom
        div.progress: div.progress-bar( style="width: 80%" )
      div.grp-habilidad
        div.nombre
          i.devicons.devicons-git
          | Git
        div.progress: div.progress-bar( style="width: 40%" )
