header.Header
  .header-inner
    div#logo
      a( href="/" ): img( src="img/juan-cahuana.png", alt="Juan Cahuana - Desarrollador FrontEnd" )
    div#btn-menu
      i.fa.fa-bars
    nav#nav
      div.arrow.fa.fa-caret-up
      ul
        li(class="#{btn_home}")
          a( href="/") Home
        li(class="#{btn_perfil}")
          a( href="perfil.html") Perfil
        li(class="#{btn_portafolio}")
          a( href="portafolio.html") Portafolio
        li(class="#{btn_contacto}")
          a( href="contacto.html") Contacto
