[class*=" icon-portafolio"],[class^=icon-portafolio]{font-family:icomoon-portafolio;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-portafolio-link-work:before{content:"\e600"}
body{background:#323232}
#main{padding:0 15px}
#main .main-inner{margin:0 auto;max-width:1000px;padding:50px 0 0}
#main .main-inner #portafolio{overflow:hidden}
#main .main-inner #portafolio .work{float:left;width:31%;margin-right:2%;margin-bottom:30px}
@media mw790{#main .main-inner #portafolio .work{width:48%}}
@media mw450{#main .main-inner #portafolio .work{width:98%}}
#main .main-inner #portafolio .work:hover .nombre h2{color:#ddd}
#main .main-inner #portafolio .work .nombre{padding-top:5px}
#main .main-inner #portafolio .work .nombre h2{color:#ddd;margin:0;font:18px bitterregular;text-shadow:2px 2px 1px #000;padding:0;text-align:center}
#main .main-inner #portafolio .work .imagen{background:#595959;padding:2%}
#main .main-inner #portafolio .work .imagen .viewport{border:1px solid #6b6b6b;position:relative;overflow:hidden}
#main .main-inner #portafolio .work .imagen .viewport a{display:block;height:100%;width:100%}
#main .main-inner #portafolio .work .imagen .viewport .icon-portafolio-link-work{background:#fff;color:#666;opacity:0;height:50px;width:50px;font-size:35px;position:absolute;z-index:4;left:50%;top:50%;text-align:center;line-height:50px;margin-top:-25px;margin-left:-25px}
#main .main-inner #portafolio .work .imagen .viewport img{margin:0 auto;width:100%}
#main .main-inner #portafolio .work .imagen:hover .icon-portafolio-link-work{-webkit-transition:.5s;transition:.5s;opacity:.7}
#main .main-inner #portafolio .work .imagen:hover img{-webkit-transition:.5s;transition:.5s;-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
#main .main-inner #portafolio .trabajo{overflow:hidden}
#main .main-inner #portafolio .trabajo .wrapper-slide{width:50%;margin-right:2%;float:left}
@media mw790{#main .main-inner #portafolio .trabajo .wrapper-slide{width:100%;float:none}}
#main .main-inner #portafolio .trabajo .wrapper-slide .slide{width:100%;position:relative}
#main .main-inner #portafolio .trabajo .wrapper-slide .slide ul.rslides{overflow:hidden;margin:0;padding:0;list-style:none;width:100%}
#main .main-inner #portafolio .trabajo .wrapper-slide .slide ul.rslides li{background:#595959;padding:2%;width:96%}
@media mw790{#main .main-inner #portafolio .trabajo .wrapper-slide .slide ul.rslides li{padding:1.5%;width:97%}}
#main .main-inner #portafolio .trabajo .wrapper-slide .slide ul.rslides li img{width:100%}
#main .main-inner #portafolio .trabajo .wrapper-slide ul.rslides_tabs{list-style:none;padding:10px 0 20px;margin:0 auto;text-align:center;overflow:hidden}
#main .main-inner #portafolio .trabajo .wrapper-slide ul.rslides_tabs li{background:#999;opacity:.8;display:block;float:left;margin-right:15px;width:20px;height:20px;border-radius:50%;-webkit-box-shadow:2px 2px 2px #000;box-shadow:2px 2px 2px #000}
#main .main-inner #portafolio .trabajo .wrapper-slide ul.rslides_tabs li.rslides_here,#main .main-inner #portafolio .trabajo .wrapper-slide ul.rslides_tabs li:hover{background:#fd9e00;opacity:1}
#main .main-inner #portafolio .trabajo .wrapper-slide ul.rslides_tabs li a{display:block;height:0;overflow:hidden;padding-top:20px}
#main .main-inner #portafolio .trabajo .descripcion{width:48%;float:left}
@media mw790{#main .main-inner #portafolio .trabajo .descripcion{width:100%;float:none}}
#main .main-inner #portafolio .trabajo .descripcion h1{color:#d87b72;font:24px bitterregular;margin:0 0 15px;padding:0}
#main .main-inner #portafolio .trabajo .descripcion p{color:#ddd;text-align:justify;font:17px titillium_webregular;line-height:21px;margin:0 0 10px}
#main .main-inner #portafolio .trabajo .descripcion p.compatibilidad,#main .main-inner #portafolio .trabajo .descripcion p.tecnologia{margin-top:20px;margin-bottom:0}