mw790 = "only screen and (max-width: 790px)"
#main
	padding 0 15px
	.main-inner
		margin 0 auto
		max-width 1000px
		padding 25px 0 0 0
		#slide
			margin-bottom 45px
			position relative
			.rslides_nav
				border 3px solid #fff
				border-radius 50%
				display block
				color #fff
				font-family: 'icomoon';
				font-size 38px
				height 50px
				line-height 50px
				position absolute
				transition color 0.4s ease, border 0.4s ease
				text-align center
				text-decoration none
				width 50px
				z-index 2
				&:hover
					border 3px solid #FD9E00
					color #FD9E00
				&.next
					box-shadow 1px 1px 2px #888888
					margin-top -25px
					top 50%
					right 15px
					&:before
						content: "\e609";
				&.prev
					box-shadow -1px 1px 1px #888888
					margin-top -25px
					left 15px
					top 50%
					&:before
						content: "\e608";
			ul.rslides_tabs
				list-style none
				padding 15px 0
				margin 0 auto
				text-align center
				li
					background #999999
					opacity 0.8
					display block
					float left
					margin-right 15px
					border-radius 50%
					width 20px
					height 20px
					border-radius 50%
					box-shadow 2px 2px 2px #000
					&:hover
						background #FD9E00	
						opacity 1
					&.rslides_here
						background #FD9E00	
						opacity 1
					a
						display block
						height 0
						overflow hidden
						padding-top 20px

		#clientes
			overflow hidden
			position relative
			h1
				color #fff
				font 24px bitterregular
				text-shadow 2px 2px 2px #000000
				margin 0 0 30px 0
			.fx-explosion
				display none
				background transparent url(../img/efecto-explosion.png) 0 0 no-repeat
				height 90px
				width 94px
				position absolute
				top 0
				left 0
				margin-left -47px
				z-index 4
			.lista-clientes		
				.cliente
					float left
					height 90px
					margin-bottom 20px
					width 25%
					position relative
					.wrapper-img
						display table
						margin 0 auto
						img
							cursor pointer
							margin 0 auto
							width 100%
					@media mw790
						width 50%
						img
							width auto
							height 100%
					@media mw610
						width 100%
