body
	background #323232
#main
	font-family ff_main
	padding 0 15px
	padding-bottom 50px
	@media mw610
		padding 0 10px
	.main-inner
		margin 0 auto
		max-width 1000px
		padding 25px 0 0 0
		@media mw610
			padding-top 25px
		#contacto
			overflow hidden
			.detalles
				float left
				width 55%
				margin-right 3%
				@media mw610
					width 100%
					float auto
					margin-right 0
				h1
					color #D87B72
					font-size 23px
					font-weight fw_medium
					margin 0 0 30px 0
				p
					color colorTexto
					font-size 16px
					margin-top 0
				ul.medios
					list-style none
					margin 0
					padding 10px 0 0 0
					li
						background #696969
						border-radius 5px
						height 50px
						color colorTexto
						font-size 17px
						line-height 50px
						max-width 300px
						margin 0 auto 15px auto
						text-align center
						overflow hidden
						a
							color #fff
							font-size 20px
							background-color #0d9885
							text-shadow none
							text-decoration none
							display block
							&:hover
								background-color #1aa390
								color #fff
			.icono
				float left
				width 42%
				margin-bottom 30px
				img
					width 100%
				@media mw610
					width 100%
					float auto
					img
						margin 30px auto 0 auto
						width 70%
