[class^="icon-portafolio"], [class*=" icon-portafolio"] {
	font-family: 'icomoon-portafolio';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-portafolio-link-work:before {
	content: "\e600";
}
body
	background #323232
#main
	padding 0 15px
	@media mw610
		padding 0 10px
	.main-inner
		margin 0 auto
		max-width 1000px
		padding 25px 0 0 0
		@media mw610
			padding-top 25px
		#portafolio
			overflow hidden
			.loader
				padding-bottom 5px
				img
					margin 0 auto
			.work
				box-sizing border-box
				float left
				width 33.3333%
				padding 0 10px
				margin-bottom 30px
				@media mw790
					width 50%
				@media mw550
					padding 0
					width 100%
				&:hover
					.nombre
						h2
							color #DDD
				.nombre
					padding-top 5px
					position relative
					h2
						color #DDDDDD
						margin 0
						font 18px bitterregular
						text-shadow 2px 2px 1px #000
						padding 0
						text-align center
					.progress
						background transparent url(../img/sprite-project-progress.png) 0 0 no-repeat
						height 31px
						left 50%
						margin-left -52px
						position absolute
						top -45px
						width 104px
				.imagen
					background #595959
					padding 2%
					.viewport
						border 1px solid #6B6B6B
						position relative
						overflow hidden
						a
							display block
							height 100%
							width 100%
							.icon-portafolio-link-work
								transition .5s
								opacity 0.3
							&:hover
								.icon-portafolio-link-work
									transition .5s
									opacity 0.7
								img
									transition .5s
									transform scale(1.1)
						.icon-portafolio-link-work
							background #fff
							color #666
							opacity 0
							height 50px
							width 50px
							font-size 35px
							position absolute
							z-index 4
							left 50%
							top 50%
							text-align center
							line-height 50px
							margin-top -25px
							margin-left -25px
						img
							margin 0 auto
							width 100%

			.trabajo
				overflow hidden
				.wrapper-slide
					width 50%
					margin-right 2%
					float left
					@media mw790
						width 100%
						float none
					.slide
						width 100%
						position relative
						ul.rslides
							overflow hidden
							margin 0
							padding 0
							list-style none
							width 100%
							li
								background #595959
								padding 2%
								width 96%
								@media mw790
									padding 1.5%
									width 97%
								img
									width 100%
					ul.rslides_tabs
						list-style none
						padding 10px 0 20px 0
						margin 0 auto
						text-align center
						overflow hidden
						position relative
						z-index 2
						li
							background #999999
							opacity 0.8
							display block
							float left
							margin-right 15px
							border-radius 50%
							width 20px
							height 20px
							border-radius 50%
							box-shadow 2px 2px 2px #000
							&:hover
								background #FD9E00
								opacity 1
							&.rslides_here
								background #FD9E00
								opacity 1
							a
								display block
								height 0
								overflow hidden
								padding-top 20px
								&:focus
									outline 0
				.descripcion
					width 48%
					float left
					@media mw790
						width 100%
						float none
					.share-button
						padding-bottom 10px
					h1
						color #FD9E00
						font 24px bitterregular
						margin 0 0 5px 0
						padding 0
					h2
						background transparent url(../img/sprite-icons-detalle-trabajo.png) 0 2px no-repeat
						color #DC8A81
						font 15px titillium_webregular
						margin 0 0 15px 0
						padding 0 0 0 23px
					p
						color #DDDDDD
						font 15px titillium_webregular
						line-height 22px
						margin 0 0 10px 0
						&.compatibilidad
							background transparent url(../img/sprite-icons-detalle-trabajo.png) 0 -23px no-repeat
							color #DC8A81
							font 15px titillium_webregular
							margin-top 20px
							padding 0 0 0 23px
							margin-bottom 0px
						&.tecnologia
							background transparent url(../img/sprite-icons-detalle-trabajo.png) 0 -48px no-repeat
							color #DC8A81
							font 15px titillium_webregular
							margin-top 20px
							padding 0 0 0 23px
							margin-bottom 0px
		#btn-portafolio-behance
			background #696969 url(../img/ico-portafolio-behance.png) 145px 6px no-repeat
			font 17px titillium_websemibold
			height 35px
			padding-left 10px
			line-height 35px
			text-transform uppercase
			text-shadow none
			width 170px
			margin 10px auto 0 auto
			a
				color #CFCFCF
				display block
				width 100%
				text-decoration none
				&:hover
					color #fff
					text-shadow 1px 1px 1px #666
			&:hover
				background #D87C72 url(../img/ico-portafolio-behance.png) 145px -29px no-repeat
