mw450 = "only screen and (max-width: 450px)"
.SlideHome
  margin-bottom 35px
  position relative

  .slide-list
    padding 0
    .slick-slide img
      width 100%
    .slick-dots li button:before
      font-size 15px
    .slick-active button:before
      opacity 1
      color #9cb1bb
    .slick-prev, .slick-next
      height 37px
      width 35px
    .slick-prev:before, .slick-next:before
      opacity 1
      color #b9c7cd
      font-size 35px
      text-shadow 0.5px 0.5px 2px #32434b
    .slick-prev
      z-index 2
      left 5px
    .slick-next
      z-index 2
      right 5px
