mixin ie(condition)
	| <!--[!{condition}]>
	block
	| <![endif]-->

doctype html
html( lang="es" )
	head
		meta( charset="utf-8")
		meta( name="viewport", content="initial-scale=1, maximum-scale=1, width=device-width" )
		title Contacto - Desarrollador Front-End | Juan Cahuana
		meta( name="description", content="Ponte en contacto conmigo y saquemos adelante tu proyecto." )
		
		include ./includes/favicon.jade
		link( rel="stylesheet", href="css/contacto.min.css")
		+ie('if lt IE 9')
			script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		include ./includes/google_analytics.jade
	body
		header#header
			.header-inner
				div#logo
					a( href="/" ): img( src="img/logo.png", alt="Juan Cahuana - Desarrollador Web" )
				div#btn-menu
				nav#nav
					div.arrow.icon-arrow-up
					ul
						li: a( href="/") Home
						li: a( href="perfil.html") Perfil
						li: a( href="portafolio.html") Portafolio
						li.active: a( href="contacto.html") Contacto
		div#main
			.main-inner
				section#contacto
					div.detalles
						h1 Contacto
						p Conversemos y saquemos adelante ese proyecto que tienes en mente.
						p Puedes comunicarte conmigo por estos medios:
						ul.medios
							li Cel: 931836339
							li: a( href="mailto:jcahuanam@gmail.com" ) E-mail: jcahuanam@gmail.com
					div.icono
						figure
							img( src="img/ico-contact.png", alt="Envíame un mensaje y conversemos." )

		include ./includes/footer.jade
	script( src="js/contacto.min.js")
