mixin ie(condition)
	| <!--[!{condition}]>
	block
	| <![endif]-->

doctype html
html( lang="es" )
	head
		meta( charset="utf-8")
		meta( name="viewport", content="initial-scale=1, maximum-scale=1, width=device-width" )
		title Desarrollador Front-End | Juan Cahuana
		meta( name="description", content="Desarrollador Front-End en Lima - Perú. Desarrollo de sitios web responsive optimizados." )
		
		include ./includes/favicon.jade
		link( rel="stylesheet", href="css/home.min.css")
		
		+ie('if lt IE 9')
			script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		include ./includes/google_analytics.jade
	body
		div.fullscreen-viewport
			div.fullscreen
		div#outer-wrapper
			header#header
				.header-inner
					div#logo
						a( href="/" ): img( src="img/logo.png", alt="Juan Cahuana - Desarrollador Web" )
					div#btn-menu
					nav#nav
						div.arrow.icon-arrow-up
						ul
							li.active: a( href="/") Home
							li: a( href="perfil.html") Perfil
							li: a( href="portafolio.html") Portafolio
							li: a( href="contacto.html") Contacto
			div#main
				.main-inner
					div#slide
						ul.rslides
							li
								a(href="portafolio.html#Fiat Punto")
									img( src="photos/home/fiat-punto.jpg" )
							li
								a(href="portafolio.html#Recetario Cartavio")
									img( src="photos/home/cartavio-recetario.jpg" )
					section#clientes
						div.fx-explosion
						h1 Proyectos para empresas como :
						div.lista-clientes
			include ./includes/footer.jade
	script( id="cliente-template", type="text/x-handlebars-template" )
		div.wrapper-img
			img( src="{{imagen}}", alt="{{alt}}" )
	script( src="js/home.min.js")
