mixin ie(condition)
	| <!--[!{condition}]>
	block
	| <![endif]-->

doctype html
html( lang="es" )
	head
		meta( charset="utf-8")
		meta( name="viewport", content="initial-scale=1, maximum-scale=1, width=device-width" )
		title Mi Portafolio de trabajos | Desarrollador Front-End | Juan Cahuana
		meta( name="description", content="Lista de algunos proyectos que he realizado para diferentes marcas como Kia Perú, Ron Cartavio, Backus, Groupon. He desarrollado sitios web responsive, aplicacciones móviles usando phonegap, aplicaciones para Facebook y juegos HTML5." )
		
		include ./includes/favicon.jade
		link( rel="stylesheet", href="css/portafolio.min.css")
		+ie('if lt IE 9')
			script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		include ./includes/google_analytics.jade
	body
		header#header
			.header-inner
				div#logo
					a( href="/" ): img( src="img/logo.png", alt="Juan Cahuana - Desarrollador Web" )
				div#btn-menu
				nav#nav
					div.arrow.icon-arrow-up
					ul
						li: a( href="/") Home
						li: a( href="perfil.html") Perfil
						li.active: a( href="portafolio.html#") Portafolio
						li: a( href="contacto.html") Contacto
		div#main
			.main-inner
				section#portafolio
				div#btn-portafolio-behance
					a( href="http://www.behance.net/jcahuana", target="_blank" ) Ver en Behance
		include ./includes/footer.jade
		
	script( id="portada-template", type="text/x-handlebars-template" )
		- var url_proyecto = "#{{nombre}}";
		div.imagen
			div.viewport
				a( href="portafolio.html#{url_proyecto}" )
					div.icon-portafolio-link-work
					img( src="{{imagen_portada}}" )
		div.nombre
			h2 {{nombre}}

	script( id="portada-progress-template", type="text/x-handlebars-template" )
		div.imagen
			div.viewport
				img( src="{{imagen_portada}}" )
		div.nombre
			h2 {{nombre}}
			div.progress

	script( id="trabajo-template", type="text/x-handlebars-template" )
		div.wrapper-slide
			div.slide
				ul.rslides
					| {{#each imagenes_slide}}
					li: img( src="{{url}}" )
					| {{/each}}
		div.descripcion
			h1 {{titulo}}
			h2 {{categoria}}
			div.texto {{{texto}}}
			p.compatibilidad Compatibilidad:
			p {{compatibilidad}}
			p.tecnologia Tecnologías:
			p {{tecnologias}}
	script( src="js/portafolio.min.js")
