mixin ie(condition)
	| <!--[!{condition}]>
	block
	| <![endif]-->

doctype html
html( lang="es" )
	head
		meta( charset="utf-8")
		meta( name="viewport", content="initial-scale=1, maximum-scale=1, width=device-width" )
		title Detalle del proyecto realizado | Desarrollador Front-End
		meta( name="description", content="Descripción más detalla del proyecto. Lista de tecnologías empleadas, compatibilidad, explicación de su funcionamiento y objetivos." )
		
		include ./includes/favicon.jade
		link( rel="stylesheet", href="css/portafolio.interior.min.css")
		+ie('if lt IE 9')
			script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		include ./includes/google_analytics.jade
	body
		header#header
			.header-inner
				div#logo
					a( href="/" ): img( src="img/logo.png" )
				div#btn-menu
				nav#nav
					div.arrow.icon-arrow-up
					ul
						li: a( href="/") Home
						li: a( href="perfil.html") Perfil
						li.active: a( href="portafolio.html") Portafolio
						li: a( href="contacto.html") Contacto
		div#main
			.main-inner
				section#portafolio
					div.trabajo
						div.wrapper-slide
							div.slide
								ul.rslides
									li: img( src="photos/portafolio/slide-1.jpg" )
									li: img( src="photos/portafolio/slide-1.jpg" )
						div.descripcion
							h1 Miralavida
							p Sitio web para el lanzamiento de el nuevo Kia Cerato 2014.
							p Se conecta a la API de facebook para registrar la usuario y pueda participar de la interactividad de los videos del sitio.
							p Cada vez que el usuario contesta de manera afirmativa laspreguntas en cada video, una mensahe y una imagen del video respectivo es publicado en su muro de facebook.
							p.compatibilidad Compatibilidad:
							p IE8+, Chrome  y Firefox.
							p.tecnologia Tecnologìas:
							p HTML5, MySQL, Facebook API.

		include ./includes/footer.jade

	script( src="js/portafolio.interior.min.js")
