extends ./../base.jade

block _variables_menu_
	- var btn_home = "";
	- var btn_perfil = "active";
	- var btn_portafolio = "";
	- var btn_contacto = "";
	
block _cssfiles_
	link( rel="stylesheet", href="css/perfil.min.css")

block _contenido_
	section#habilidades.section
		.perfil-inner
			h2 Habilidades
			div.lista-habilidades
				div.grp-habilidad
					div.nombre
						i.devicons.devicons-html5
						| Html5
					div.progress: div.progress-bar( style="width: 90%" )
				div.grp-habilidad
					div.nombre
						i.devicons.devicons-code
						| Jade
					div.progress: div.progress-bar( style="width: 60%" )
				div.grp-habilidad
					div.nombre
						i.devicons.devicons-css3
						| Css3
					div.progress: div.progress-bar( style="width: 90%" )
				div.grp-habilidad
					div.nombre
						i.devicons.devicons-sass
						| Sass
					div.progress: div.progress-bar( style="width: 75%" )
				div.grp-habilidad
					div.nombre
						i.devicons.devicons-stylus
						| Stylus
					div.progress: div.progress-bar( style="width: 60%" )
				div.grp-habilidad
					div.nombre
						i.devicons.devicons-javascript
						| Javascript
					div.progress: div.progress-bar( style="width: 85%" )
				div.grp-habilidad
					div.nombre
						i.devicons.devicons-backbone
						| BackboneJS
					div.progress: div.progress-bar( style="width: 30%" )
				div.grp-habilidad
					div.nombre
						i.devicons.devicons-angular
						| AngularJS
					div.progress: div.progress-bar( style="width: 20%" )
				div.grp-habilidad
					div.nombre
						i.devicons.devicons-aptana
						| FB SDK (php/js)
					div.progress: div.progress-bar( style="width: 60%" )
				div.grp-habilidad
					div.nombre
						i.devicons.devicons-php
						| Php
					div.progress: div.progress-bar( style="width: 70%" )
				div.grp-habilidad
					div.nombre
						i.devicons.devicons-wordpress
						| Wordpress
					div.progress: div.progress-bar( style="width: 50%" )
				div.grp-habilidad
					div.nombre
						i.devicons.devicons-phonegap
						| Phonegap
					div.progress: div.progress-bar( style="width: 60%" )
				div.grp-habilidad
					div.nombre
						i.devicons.devicons-code_badge
						| As3
					div.progress: div.progress-bar( style="width: 20%" )
				div.grp-habilidad
					div.nombre
						i.devicons.devicons-gulp
						| GulpJS
					div.progress: div.progress-bar( style="width: 70%" )
				div.grp-habilidad
					div.nombre
						i.devicons.devicons-atom
						| Atom
					div.progress: div.progress-bar( style="width: 80%" )
				div.grp-habilidad
					div.nombre
						i.devicons.devicons-git
						| Git
					div.progress: div.progress-bar( style="width: 40%" )
	section#experiencia.section
		.perfil-inner
			h2 Experiencia
			div.lista-experiencia
				div.grp-experiencia
					div.fecha
						span 2015
					div.lugar
						span.nombre Grupo La República - Digital
						span: a.url( href="http://larepublica.pe", target="_blank" ) www.larepublica.pe
						span.descripcion Empresa periodística.
			div.lista-experiencia
				div.grp-experiencia
					div.fecha
						span 2014
					div.lugar
						span.nombre Vértice
						span: a.url( href="http://www.vertice.pe", target="_blank" ) www.vertice.pe
						span.descripcion Agencia Interactiva.
			div.lista-experiencia
				div.grp-experiencia
					div.fecha
						span 2014
					div.lugar
						span.nombre Proyectos Freelance
						span: a.url( href="http://www.domingosferreira.net/", target="_blank" ) www.domingosferreira.net
						span: a.url( href="https://www.facebook.com/dfcontact", target="_blank" ) www.facebook.com/dfcontact
						span.descripcion Agencia de Publicidad.
			div.lista-experiencia
				div.grp-experiencia
					div.fecha
						span 2012-2014
					div.lugar
						span.nombre Grupo DPI
						span: a.url( href="http://www.grupodpi.pe", target="_blank" ) www.grupodpi.pe
						span.descripcion Agencia Interactiva.
				div.grp-experiencia
					div.fecha
						span 2011-2012
					div.lugar
						span.nombre Vértice
						span: a.url( href="http://www.vertice.pe", target="_blank" ) www.vertice.pe
						span.descripcion Agencia Interactiva.
				div.grp-experiencia
					div.fecha
						span 2010
					div.lugar
						span.nombre Megaworking S.A
						span: a.url( href="http://www.megaworking.com", target="_blank" ) www.megaworking.com
						span.descripcion Agencia Interactiva.
				div.grp-experiencia
					div.fecha
						span 2009
					div.lugar
						span.nombre Universidad de Lima
						span: a.url( href="http://www.ulima.edu.pe", target="_blank" ) www.ulima.edu.pe
						span.descripcion Institución académica.
	section#educacion.section
		.perfil-inner
			h2 Educación
			div.lista-educacion
				div.grp-educacion
					div.fecha
						span 2015
					div.lugar
						span.nombre Wordpress theme Development
						span: a.url( href="https://teamtreehouse.com", target="_blank" ) www.teamtreehouse.com
						span.descripcion Teamtreehouse Platform.
				div.grp-educacion
					div.fecha
						span 2014
					div.lugar
						span.nombre Curso AngularJS
						span: a.url( href="http://area51.pe/", target="_blank" ) www.area51.pe
						span: a.url( href="https://www.facebook.com/Area51.pe", target="_blank" ) www.facebook.com/Area51.pe
						span.descripcion Area51 Training Center.
				div.grp-educacion
					div.fecha
						span 2013
					div.lugar
						span.nombre Curso Profesional FrontEnd
						span: a.url( href="http://www.platzi.com", target="_blank" ) www.platzi.com
						span.descripcion Plataforma Platzi.
				div.grp-educacion
					div.fecha
						span 2012
					div.lugar
						span.nombre Facebook Aplicaction Developer
						span: a.url( href="http://www.cibertec.edu.pe", target="_blank" ) www.cibertec.edu.pe
						span.descripcion Cibertec.
				div.grp-educacion
					div.fecha
						span 2009 - 2011
					div.lugar
						span.nombre Redes y Comunicaciones de Datos
						span: a.url( href="http://www.tecsup.edu.pe", target="_blank" ) www.tecsup.edu.pe
						span.descripcion Tecsup.
				div.grp-educacion
					div.fecha
						span 2009
					div.lugar
						span.nombre Flash CS4 / As3
						span.descripcion Zona-D ( Actualmente <a href="http://www.area51.pe/" target="_blank">Area51</a> ).
			//- div#btn-descargar-cv
			//- 	a( href="pdf/cv_cahuana_juan.pdf", target="_blank" ) Descargar CV

block _jsfiles_
	script( src="js/perfil.min.js")
